.topbar {
  background-color: #002f2f;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.topbar-left {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.topbar-right {
  text-align: right;
  font-weight: 500;
}
.topbar-center {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 40px;
}
.icon {
  margin-right: 6px;
}
